# Ignore Python cache and virtual environments
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/

# Ignore build artifacts
dist/

# Ignore local configuration files
config.lua
src/config.lua
src/config.lua.example

# IDE-specific
.vscode/
.idea/ 